<c-card class="text-center">

  <c-card-body>
    <c-card-body>  
  <nav class="header">
    <button cButton color="info" class="btn btn-block btn-primary" 
  routerLinkActive="active"
  size="sm"
  routerLink="/invoices"
  >+ New invoice</button>
    </nav>
    <table cTable>
        <thead>
        <tr>
            <th scope="col">Invoice Id</th>
            <th scope="col">Created Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Reciept No.</th>
            <th scope="col">Customer</th>
            <th scope="col">Payment Link</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        </tbody>
        </table>
      </c-card-body>
    </c-card-body>
    </c-card>